body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(fondo.jpg);
    color: #f8faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}

.container {
    text-align: center;
    
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #fa0808;
    letter-spacing: 0.2rem;
    
}

.contador {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    text-align: center;
}

.time {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 35px;
    height: 50px;
    width: 30%;
}

.time span {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    color: #141314;
   
  
}

.time p {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #0b0c0c;

}

.social-media a {
    margin: 0 1rem;
}

.social-media img {
    width: 30px;
   
}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 50%;
    }
}
@media (max-width: 600px) {
    .contador {
        font-size: 1.5rem;
        padding: 10px;
    }
}
